.rating-link {
  float: right;
  color: red;
  font-size: 18px;
}

/*Beginning of star rating stuff*/
#star-rating {
  float: right;
  font-size: 33px;
  color: yellow;
}
/*End of star rating stuff*/

/*.top {*/
  /*background-color: white;*/
  /*min-height: 250px;
}*/

.dish-description {
  color: #434245;
}

.dish-name {
  color: #504F52;
}

.comments-button {
  position: absolute;
  left: 50%;
}

dish-picture {
  width: 100%;
  height: auto;
  
}
