.rating-link {
  float: right;
  color: red;
  font-size: 18px;
}


#star-rating {
  float: right;
  font-size: 33px;
  color: rgb(240, 67, 13);
  margin-bottom: 3%;
  margin-right: 5%;
}

.dish-description {
  color: #434245;
}

.dish-name {
  color: #504F52;
}

.comments-button {
  position: absolute;
  left: 50%;
}

.dish-picture {
  width: 1000px;
  height: 600px;
}
