<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container" ng-controller="DishCtrl">
    <h1 class="dish-name">{{data.name}}</h1>
    <!--Insert Restaurant Name Here-->

<!-- star rating stuff begins -->
    <div id="star-rating" ng-controller="DishCtrl">
      <rating ng-model="rate" max="5" readonly="isReadonly"  on-leave="overStar = null"></rating>
      <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show=true>{{rate}}/5 Stars</span>
    </div>
    <img class="dish-picture" src={{picture}}>
<!-- star rating stuff ends -->
  </div>
</header>

<div ng-controller="ModalDishCtrl" class="comments-button">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Comments</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default nav-comment-button" ng-click="open()">Comments</button>
</div>


<footer class="footer">
  <div class="container">
      <p>Crave Inc. 2014|
        <a href="https://twitter.com">@crave</a> |
         <a href="https://github.com/elasticnotorious/elasticnotorious/issues?q=is%3Aopen+is%3Aissue">Issues</a></p>
  </div>
</footer>
