<div ng-include="'components/navbar/navbar.html'"></div>

<header class="hero-unit" id="banner">
  <div class="container" ng-controller="DishCtrl">
    <h1 class="dish-name">{{data.name}}</h1>
    <!-- <p class="dish-description">Dish Description</p> -->

<!-- star rating stuff begins -->
    <div id="star-rating" ng-controller="DishCtrl">
    <!-- <a class="rating-link" href="">Rate this Dish</a> <br> -->
      <!-- <h4>Default</h4> -->
      <rating ng-model="rate" max="5" readonly="isReadonly"  on-leave="overStar = null"></rating>
      <span class="label" ng-class="{'label-warning': percent<30, 'label-info': percent>=30 && percent<70, 'label-success': percent>=70}" ng-show=true>{{rate}}/5 Stars</span>

      <!-- <pre style="margin:15px 0;">Rate: <b>{{rate}}</b> - Readonly is: <i>{{isReadonly}}</i> - Hovering over: <b>{{overStar || "none"}}</b></pre> -->

      <!-- <button class="btn btn-sm btn-danger" ng-click="rate = 0" ng-disabled="isReadonly">Clear</button> -->
      <!-- <button class="btn btn-sm btn-default" ng-click="isReadonly = ! isReadonly">Toggle Readonly</button> -->
      <!-- <hr /> -->

      <!-- <h4>Custom icons</h4>
      <div ng-init="x = 5"><rating ng-model="x" max="15" state-on="'glyphicon-ok-sign'" state-off="'glyphicon-ok-circle'"></rating> <b>(<i>Rate:</i> {{x}})</b></div>
      <div ng-init="y = 2"><rating ng-model="y" rating-states="ratingStates"></rating> <b>(<i>Rate:</i> {{y}})</b></div> -->
    </div>
    <img class="dish-picture" src={{picture}}>
<!-- star rating stuff ends -->

  </div>
</header>

<div ng-controller="ModalDishCtrl" class="comments-button">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title">Comments</h3>
        </div>
        <div class="modal-body">

        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
        </div>
    </script>

    <button class="btn btn-default nav-comment-button" ng-click="open()">Comments</button>
    <!-- <div ng-show="selected">Selection from a modal: {{ selected }}</div> -->
</div>


<footer class="footer">
  <div class="container">
      <p>Crave Inc. 2014|
        <a href="https://twitter.com">@crave</a> |
         <a href="https://github.com/elasticnotorious/elasticnotorious/issues?q=is%3Aopen+is%3Aissue">Issues</a></p>
  </div>
</footer>
