#navbar {
  position: fixed;
  width: 100%;
  background-color: rgba(68, 68, 68, .6);
  border: none;
  height: 17%;
}
#navbar-brand {
/*  color: #777;
*/  float: left;
  height: 50px;
  padding: 15px 15px;
  font-size: 18px;
  line-height: 20px;
}
.navbar-subheader {
  color: rgb(250, 184, 184);
  margin-top: 5%;
}
