<div id="navbar" class="navbar navbar-default navbar-static-top" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
<!--       <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span> -->
      </button>
      <a href="/" id="navbar-brand">Crave</a>
      <p class="navbar-subheader">Delivering What You CRAVE!<p>
      </div>
      <div ng-controller="SearchCtrl">
        <input value="search"/><button id="navbar-search-button" ng-click="requestFunction()">Search</button>
      </div>
      <input value="location"/><button id="navbar-location-button">Location</button>
      <button class="navbar-login-button">Login</button>
<!--     <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
 -->      <!-- <ul class="nav navbar-nav">
        <li ng-repeat="item in menu" ng-class="{active: isActive(item.link)}">
            <a ng-href="{{item.link}}">{{item.title}}</a>
        </li>
      </ul> -->
    </div>
  </div>
</div>
