.main-greeting-banner {
    margin-top: 12%;
    margin-left: 57%;
    width: 22%;
    height: 15%;
    float: left;
    background-color: rgba(255,255,255,0.15);
    text-align: center;
    padding: 2%;
    font-size: 15pt;
    border-radius: 9px;
/*    border-width: 1px;
    border-color: black;
    border-style: solid;*/
    box-shadow: inset 0 0 0 1px #fff;
}
.main-greeting-banner p {
    color: #fff;
}
.main-carousel-header {
    text-align: center;
}
.main-footer {
    float: left;
}
.main-carousel-box {
    width: 30%;
    float: left;
    margin-top: 5%;
    margin-left: 2%;
}
.main-carousel {
    display: inline;
    width: 30%;
}
.main-banner {
    width: 100%;
    height: 675px;
    background-image: url("http://foodporndaily.com/pictures/spicy-crunchy-salmon-and-mango-roll-with-seared-salmon-white-tuna-avocado-crispy-rice-powder-and-honey-wasabi-sauce.jpg");
    background-position: 0% 53%;
    background-size: cover;
}
.thing-form {
    margin: 20px 0;
}
#banner {
    border-bottom: none;
/*    margin-top: -20px;
*/}
#banner h1 {
    font-size: 60px;
    line-height: 1;
    letter-spacing: -1px;
}

.hero-unit {
    position: relative;
    padding: 30px 15px;
    color: #F5F5F5;
    text-align: center;
    text-shadow: 0 1px 0 rgba(0, 0, 0, 0.1);
    background: #4393B9;
}

.footer {
    text-align: center;
    padding: 30px 0;
    margin-top: 70px;
    border-top: 1px solid #E5E5E5;
}