<div ng-include="'components/navbar/navbar.html'"></div>

<!--   <img class="main-banner" src="http://farm9.staticflickr.com/8236/8522600407_af871342a9_z.jpg">
-->  
<div class="main-banner">
  <!-- <img class="main-banner" src="http://foodporndaily.com/pictures/spicy-crunchy-salmon-and-mango-roll-with-seared-salmon-white-tuna-avocado-crispy-rice-powder-and-honey-wasabi-sauce.jpg"> -->
  <div class="main-greeting-banner"><p>What are you craving?</p></div>
</div>

<div class="main-carousel-container">

  <div class="main-carousel-box">
    <div class="main-carousel-header">Trending</div>
    <div class="main-carousel" ng-controller="CarouselDemoCtrl">
      <div style="height: 305px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>

  <div class="main-carousel-box">
    <div class="main-carousel-header">Highest Reviewed Dish Nearby</div>
    <div class="main-carousel" ng-controller="CarouselDemoCtrl">
      <div style="height: 305px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>

  <div class="main-carousel-box">
    <div class="main-carousel-header">Most Reviewed Dish Nearby</div>
    <div class="main-carousel" ng-controller="CarouselDemoCtrl">
      <div style="height: 305px">
        <carousel interval="myInterval">
          <slide ng-repeat="slide in slides" active="slide.active">
            <img ng-src="{{slide.image}}" style="margin:auto;">
            <div class="carousel-caption">
              <h4>Slide {{$index}}</h4>
              <p>{{slide.text}}</p>
            </div>
          </slide>
        </carousel>
      </div>
    </div>
  </div>

</div><!--carousel container end-->



<footer class="footer main-footer">
  <div class="container">
    <p>Crave |
      <a href="https://github.com/elasticnotorious/elasticnotorious/issues">Issues</a></p>
    </div>
  </footer>
